* {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

html {
	background: #151515;
	background: -webkit-linear-gradient( 45deg, #000, #222, #000 );
	background:    -moz-linear-gradient( 45deg, #000, #222, #000 );
	background:     -ms-linear-gradient( 45deg, #000, #222, #000 );
	background:      -o-linear-gradient( 45deg, #000, #222, #000 );
	background:         linear-gradient( 45deg, #000, #222, #000 );
	min-height: 100%;
}

body {
	color: #bbb;
	font-family: 'Noto Sans', sans-serif, arial;
}

a {
	border-bottom: 1px dotted;
	color: #ccc;
	text-decoration: none;
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
	    -ms-transition: color .2s;
	     -o-transition: color .2s;
	        transition: color .2s;
}

a:hover {
	color: #f16529;
}

.header {
	font-size: 1.4em;
	text-align: center;
	text-shadow: 0 -1px 1px #000;
}

.title {
	font-size: 1.2em;
	text-shadow: 0 -1px 1px #000;
}

.container {
	margin: auto;
	width: 960px;
}

.p15 { padding: 15px; }
.tm20 { margin-top: 20px; }
.tm30 { margin-top: 30px; }

.w50 {
	width: 50%;
}

.well {
	background: rgba( 255, 255, 255, .05 );
	border: 1px solid rgba( 255, 255, 255, .1 );
	border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 14px;
}

.carousel {
	overflow: hidden;
	position: relative;
}

.carousel .item {
	background: rgba( 255, 255, 255, .05 );
	border: 1px solid rgba( 255, 255, 255, .1 );
	height: 500px;
}

.carousel .thumbnail {
	background: #333;
	background: rgba( 255, 255, 255, .05 );
	bottom: 0;
	left: 0;
	padding: 14px;
	position: absolute;
	right: 0;
	text-shadow: 0 -1px 1px #000;
}

.track li {
	margin: 15px 0 5px 25px;
}

.track a {
	border-bottom: 2px solid rgba( 255, 255, 255, .05 );
	display: block;
	padding-bottom: 5px;
}

.track p {
	color: #777;
	font-size: .8em;
}

.grid {
	overflow: hidden;
}

.grid2left {
	border-right: 1px solid rgba( 255, 255, 255, 0.06 );
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
	padding: 15px 25px 15px 15px;
	width: 50%;
}

.grid2right {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: right;
	padding: 15px 15px 15px 25px;
	width: 50%;
}

.pull-right {
	float: right;
}

.cell {
    display: inline-block;
    width: 279px;
    margin: 5px;
    padding: 5px;
    border: 2px solid rgba( 255, 255, 255, 0.06 );
    text-align: center;
}

.cell h2 {
    padding-bottom: 4px;
    margin-bottom: 12px;
    border-bottom: 2px solid rgba( 255, 255, 255, 0.06 );
}

#header {
	border-bottom: 1px solid rgba( 255, 255, 255, .06 );
	box-shadow: inset 0 -5px 30px rgba( 0, 0, 0, .5 );
	height: 80px;
	line-height: 80px;
}

#logo img {
	margin-top: 8px;
}

.navbar a {
	border: 0;
	display: block;
	float: left;
	font-size: 18px;
	height: 80px;
	padding: 0 15px;
	text-shadow: 0 -1px 1px #000;
}

.navbar a.active {
	color: #fff;
}

#signin {
	background: #3c3c3c;
	background: -webkit-linear-gradient( top, #606060, #3c3c3c );
	background:    -moz-linear-gradient( top, #606060, #3c3c3c );
	background:     -ms-linear-gradient( top, #606060, #3c3c3c );
	background:      -o-linear-gradient( top, #606060, #3c3c3c );
	background:         linear-gradient( top, #606060, #3c3c3c );
	filter: progid:DXImageTransform.Microsoft.Gradient( startColorstr="#606060", endColorstr="#3c3c3c" );
	border: 1px solid #000;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba( 255, 255, 255, 0.35 );
	color: #d6d6d6;
	cursor: pointer;
	height: 36px;
	line-height: 35px;
	margin-top: 21px;
	padding: 0 12px;
	text-shadow: 0 -1px 1px #000;
}

#signin:hover {
	background: #2d2d2d;
	background: -webkit-linear-gradient( top, #484848, #2d2d2d );
	background:    -moz-linear-gradient( top, #484848, #2d2d2d );
	background:     -ms-linear-gradient( top, #484848, #2d2d2d );
	background:      -o-linear-gradient( top, #484848, #2d2d2d );
	background:         linear-gradient( top, #484848, #2d2d2d );
	filter: progid:DXImageTransform.Microsoft.Gradient( startColorstr="#484848", endColorstr="#2d2d2d" );
	box-shadow: inset 0 1px 1px rgba( 255, 255, 255, .2 );
}

#footer {
	border-top: 1px solid rgba( 255, 255, 255, .06 );
	color: #555;
	margin-top: 30px;
	padding: 10px 0 20px;
}

#footer nav {
	float: right;
}

#footer nav a {
	color: #777;
}

#footer nav a:hover {
	color: #fff;
}
