* {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

html {
	background: #151515;
	background: -webkit-linear-gradient( 45deg, #000, #222, #000 );
	background:    -moz-linear-gradient( 45deg, #000, #222, #000 );
	background:     -ms-linear-gradient( 45deg, #000, #222, #000 );
	background:      -o-linear-gradient( 45deg, #000, #222, #000 );
	background:         linear-gradient( 45deg, #000, #222, #000 );
	min-height: 100%;
}

body {
	color: #bbb;
	font-family: 'Noto Sans', sans-serif, arial;
}

a {
	color: #ddd;
	text-decoration: none;
	-webkit-transition: color .2s;
	   -moz-transition: color .2s;
	    -ms-transition: color .2s;
	     -o-transition: color .2s;
	        transition: color .2s;
}

.container {
	margin: auto;
	width: 960px;
}

.tm30 {
	margin-top: 30px;
}

.well {
	background: rgba( 255, 255, 255, .05 );
	border: 1px solid rgba( 255, 255, 255, .1 );
	border-radius: 4px;
	padding: 14px;
}

.carousel {
	overflow: hidden;
	position: relative;
}

.carousel .item {
	background: rgba( 255, 255, 255, .05 );
	border: 1px solid rgba( 255, 255, 255, .1 );
	height: 500px;
}

.carousel .thumbnail {
	background: #333;
	background: rgba( 255, 255, 255, .05 );
	bottom: 0;
	left: 0;
	padding: 15px;
	position: absolute;
	right: 0;
	text-shadow: 0 -1px 1px #000;
}

#track {
	margin-top: 20px;
	padding-left: 15px;
}

#track li {
	border-bottom: 2px solid rgba( 255, 255, 255, .05 );
	margin: 7px 0;
}

#track p {
	color: #777;
	font-size: .8em;
}

#header {
	border-bottom: 1px solid rgba( 255, 255, 255, .06 );
	box-shadow: inset 0 -5px 30px rgba( 0, 0, 0, .5 );
	height: 80px;
	line-height: 80px;
}

#logo img {
	margin-top: 8px;
}

.navbar a {
	float: left;
	font-size: 18px;
	height: 80px;
	padding: 0 15px;
	text-shadow: 0 -1px 1px #000;
}

a:hover {
	color: #f16529;
}

#footer {
	border-top: 1px solid rgba( 255, 255, 255, .06 );
	color: #555;
	margin-top: 30px;
	padding: 10px 0 20px;
}

#footer nav {
	float: right;
}

#footer nav a {
	color: #777;
}

#footer nav a:hover {
	color: #fff;
}
